image: mcr.microsoft.com/dotnet/core/sdk:3.1

stages:
  - build
  - test

variables:
  test: "Atomex.Client.Core.Tests"

before_script:
  - "dotnet restore"

build:
  stage: build
  script:
    - "dotnet build"

test:
  stage: test
  script:
    - "cd $test"
    - "dotnet test"
  only:
    - develop
    - master